# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Nathan Jhaveri
	email = nathanj@porch.com
[push]
	default = simple
[pull]
	rebase = false
[core]
	ignorecase = true
[init]
	defaultBranch = main

